<h1 [class]="textClasses">{{name}}</h1>
<h1 [class.bg-danger]="redColor" [class.bg-success]="!redColor" >{{5+5}}</h1>
<img [src]="imgUrl" alt="">
<p [style.background]="p ? 'red' : 'blue'" [style.padding]='padding'>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt tempore dolorem debitis at labore maiores ad neque dolor ex!
</p>
<table class=" table table-bordered">
    <thead>
        <tr>
            <th [attr.colspan]="colspan">Students</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Husna</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bagii</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Shama</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Miki</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Pinky</td>
        </tr>
    </tbody>
</table>