.add{
    color: red;
    background-color: aquamarine;

}
.add1{
    font-size: 50px;
}
.add2{
    border: 1px solid black;
    
}
.blue{
    color: red;
    background-color: black;
}
.tab{
    bord
}