<div class="container">

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>email</th>
            <th>phno</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of firebaseService.users; index as i">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phno}}</td>
            <td><button class="btn btn-warning" (click)='updateUser(user)'>Update</button></td>
        </tr>
    </tbody>
</table>

</div>
