<div class="col-md-5 card card-body">
    <table class="table-hover table-bordered">
        <thead>
            <tr>
            <th>Tasks</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{input}}</td>
                <td><button type="button" class="btn btn-outline-success">Edit</button> </td>
                <td><button type="button" class="btn btn-outline-danger" (click)='delete(task)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
